In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['fair-classification']

In [3]:
print(os.listdir('../input/fair-classification'))

['test_no_income.csv', 'test_sample0.csv', 'train.csv']

In [4]:
df = pd.read_csv('../input/fair-classification/train.csv')
submission_df = pd.read_csv('../input/fair-classification/test_no_income.csv')

In [5]:
df.shape

(35988, 15)

In [6]:
submission_df.columns

Index(['Age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital gain', 'capital loss', 'hours per week', 'native-country'],
      dtype='object')

In [7]:
df = pd.get_dummies(df)
submission_df = pd.get_dummies(submission_df)

In [8]:
df.columns

Index(['Age', 'fnlwgt', 'education-num', 'race', 'gender', 'capital gain',
       'capital loss', 'hours per week', 'income', 'workclass_?',
       ...
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia'],
      dtype='object', length=103)

In [9]:
missing_cols = set(df.columns) - set(submission_df.columns)

for c in missing_cols:
    submission_df[c] = 0
    
# Ensure Ordering matches
submission_df = submission_df[df.columns].drop('income', axis=1)

In [10]:
submission_df.columns

Index(['Age', 'fnlwgt', 'education-num', 'race', 'gender', 'capital gain',
       'capital loss', 'hours per week', 'workclass_?',
       'workclass_Federal-gov',
       ...
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia'],
      dtype='object', length=102)

In [11]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.25)

In [12]:
X_train, y_train = train_df.drop('income', axis=1), train_df['income']
X_test, y_test = test_df.drop('income', axis=1), test_df['income']

In [13]:
from sklearn.ensemble import RandomForestClassifier

# Training
rf = RandomForestClassifier(n_estimators=1000, random_state=42, verbose=1)
rf.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:   40.9s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=False, random_state=42, verbose=1, warm_start=False)

In [14]:
# Make Predictions
predictions = rf.predict(X_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    2.6s finished

In [15]:
# Determine absolute error
errors = abs(predictions - y_test)

# Determine number of errors
num_correct = errors.value_counts()[0]
num_incorrect = errors.value_counts()[1]


# Determine accuracy
accuracy = (1 - (num_incorrect / num_correct)) * 100

print('Accuracy: ', round(accuracy, 2), '%.')

Accuracy:  82.87 %.

In [16]:
# Determine Bias
Th = 0.1
# DDP = np.abs()

In [17]:
X_test.shape

(8997, 102)

In [24]:
# X_pred includes income columns that is predicted by the model
X_pred = X_test.loc[:]
X_pred['income'] = predictions
X_pred.head()

,Age,fnlwgt,education-num,race,gender,capital gain,capital loss,hours per week,workclass_?,workclass_Federal-gov,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income
6319,51,168660,7,0,0,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0
35327,34,203488,10,0,0,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0
10637,25,188119,9,0,1,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0
24979,66,427422,16,0,0,0,2377,25,0,0,...,0,0,0,0,0,0,1,0,0,1
634,35,189240,10,1,1,0,0,40,0,0,...,0,0,0,0,0,0,1,0,0,0

In [25]:
A0 = len(X_pred.loc[X_pred['gender'] == 0])
A1 = len(X_pred.loc[X_pred['gender'] == 1])

Y1A0 = len(X_pred.loc[(X_pred['income'] == 1) & (X_pred['gender'] == 0)])
Y1A1 = len(X_pred.loc[(X_pred['income'] == 1) & (X_pred['gender'] == 1)])

A0, A1, Y1A0, Y1A1

(6069, 2928, 1622, 223)

In [31]:
DDP = np.abs((Y1A0 / A0) - (Y1A1 / A1))
bias = (7**(DDP - Th) - 1) if DDP > Th else 0
score = accuracy - bias
score

82.67286106988907

In [73]:
# Evaluate

importances = list(rf.feature_importances_)
feature_importances = [(feature, round(importance, 5)) for feature, importance in zip(X_train.columns, importances)]
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse=True)
list_of_importances = [print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances]

Variable: fnlwgt               Importance: 0.16695
Variable: Age                  Importance: 0.15346
Variable: capital gain         Importance: 0.0983
Variable: hours per week       Importance: 0.086
Variable: marital-status_Married-civ-spouse Importance: 0.06493
Variable: education-num        Importance: 0.06308
Variable: relationship_Husband Importance: 0.04403
Variable: capital loss         Importance: 0.03057
Variable: marital-status_Never-married Importance: 0.02227
Variable: occupation_Exec-managerial Importance: 0.01849
Variable: occupation_Prof-specialty Importance: 0.01451
Variable: education_Bachelors  Importance: 0.01276
Variable: gender               Importance: 0.01249
Variable: relationship_Not-in-family Importance: 0.01181
Variable: workclass_Private    Importance: 0.01031
Variable: relationship_Wife    Importance: 0.00927
Variable: relationship_Own-child Importance: 0.00923
Variable: education_Masters    Importance: 0.00888
Variable: workclass_Self-emp-not-inc Importance: 0.00848
Variable: race                 Importance: 0.00821
Variable: education_HS-grad    Importance: 0.00783
Variable: occupation_Sales     Importance: 0.00675
Variable: occupation_Other-service Importance: 0.00667
Variable: occupation_Craft-repair Importance: 0.00658
Variable: marital-status_Divorced Importance: 0.00651
Variable: workclass_Self-emp-inc Importance: 0.0059
Variable: workclass_Local-gov  Importance: 0.00587
Variable: native-country_United-States Importance: 0.00555
Variable: occupation_Adm-clerical Importance: 0.0054
Variable: education_Some-college Importance: 0.00534
Variable: relationship_Unmarried Importance: 0.0052
Variable: education_Prof-school Importance: 0.00482
Variable: occupation_Tech-support Importance: 0.00468
Variable: workclass_Federal-gov Importance: 0.00467
Variable: workclass_State-gov  Importance: 0.00448
Variable: occupation_Transport-moving Importance: 0.00441
Variable: occupation_Farming-fishing Importance: 0.0043
Variable: occupation_Machine-op-inspct Importance: 0.00388
Variable: occupation_Handlers-cleaners Importance: 0.0037
Variable: education_Doctorate  Importance: 0.00298
Variable: education_Assoc-voc  Importance: 0.00287
Variable: occupation_Protective-serv Importance: 0.00283
Variable: education_Assoc-acdm Importance: 0.00242
Variable: native-country_?     Importance: 0.00239
Variable: education_7th-8th    Importance: 0.00199
Variable: education_11th       Importance: 0.00197
Variable: occupation_?         Importance: 0.00191
Variable: workclass_?          Importance: 0.00185
Variable: native-country_Mexico Importance: 0.0018
Variable: marital-status_Separated Importance: 0.00168
Variable: marital-status_Widowed Importance: 0.00163
Variable: education_10th       Importance: 0.00147
Variable: education_9th        Importance: 0.00131
Variable: relationship_Other-relative Importance: 0.00129
Variable: native-country_Germany Importance: 0.0011
Variable: native-country_Canada Importance: 0.001
Variable: native-country_England Importance: 0.00089
Variable: marital-status_Married-spouse-absent Importance: 0.00088
Variable: education_12th       Importance: 0.00066
Variable: native-country_Poland Importance: 0.00065
Variable: education_5th-6th    Importance: 0.00062
Variable: native-country_Cuba  Importance: 0.00057
Variable: native-country_Italy Importance: 0.00046
Variable: native-country_Greece Importance: 0.00044
Variable: native-country_Ireland Importance: 0.00044
Variable: native-country_Puerto-Rico Importance: 0.00042
Variable: native-country_Jamaica Importance: 0.0004
Variable: native-country_Iran  Importance: 0.00039
Variable: native-country_France Importance: 0.00037
Variable: native-country_Portugal Importance: 0.00034
Variable: native-country_Yugoslavia Importance: 0.0003
Variable: marital-status_Married-AF-spouse Importance: 0.00026
Variable: education_1st-4th    Importance: 0.00025
Variable: native-country_Hungary Importance: 0.00024
Variable: native-country_Columbia Importance: 0.00021
Variable: native-country_Haiti Importance: 0.0002
Variable: native-country_El-Salvador Importance: 0.00018
Variable: native-country_Peru  Importance: 0.00018
Variable: native-country_Philippines Importance: 0.00017
Variable: native-country_Guatemala Importance: 0.00016
Variable: native-country_Nicaragua Importance: 0.00016
Variable: native-country_Dominican-Republic Importance: 0.00015
Variable: native-country_Japan Importance: 0.00015
Variable: occupation_Priv-house-serv Importance: 0.00014
Variable: workclass_Without-pay Importance: 0.00012
Variable: native-country_Ecuador Importance: 0.00011
Variable: native-country_Scotland Importance: 0.00011
Variable: native-country_Trinadad&Tobago Importance: 0.0001
Variable: occupation_Armed-Forces Importance: 6e-05
Variable: native-country_Taiwan Importance: 5e-05
Variable: education_Preschool  Importance: 4e-05
Variable: native-country_India Importance: 4e-05
Variable: native-country_Outlying-US(Guam-USVI-etc) Importance: 2e-05
Variable: native-country_China Importance: 1e-05
Variable: workclass_Never-worked Importance: 0.0
Variable: native-country_Cambodia Importance: 0.0
Variable: native-country_Holand-Netherlands Importance: 0.0
Variable: native-country_Honduras Importance: 0.0
Variable: native-country_Hong  Importance: 0.0
Variable: native-country_South Importance: 0.0
Variable: native-country_Thailand Importance: 0.0
Variable: native-country_Vietnam Importance: 0.0

In [32]:
import datetime

file_name = '../output/test_sample_' + str(datetime.datetime.now()).replace(' ', '').replace(':','') + '.csv'
file_name

'../output/test_sample_2019-04-09224929.697337.csv'

In [39]:
submission = pd.Series(predictions)
submission

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      1
18      0
19      0
20      0
21      1
22      0
23      1
24      0
25      1
26      0
27      0
28      0
29      1
       ..
8967    1
8968    0
8969    0
8970    0
8971    1
8972    0
8973    0
8974    0
8975    0
8976    0
8977    0
8978    1
8979    1
8980    1
8981    0
8982    0
8983    0
8984    0
8985    1
8986    1
8987    0
8988    0
8989    1
8990    0
8991    1
8992    0
8993    0
8994    0
8995    0
8996    0
Length: 8997, dtype: int64

In [45]:
submission.to_csv(file_name, index_label='Id', header=['income'], index=True)